@import '../../../assets/css/constants.scss';
@import '../../../assets/css/mixins.scss';

.role {
  display: inline-block;
  margin: 2px 2px;
  .role-button {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    &.developer {
      @include button-color($developer, lightgrey);
    }
    &.designer {
      @include button-color($designer, lightgrey);
    }
    &.ceo {
      @include button-color($ceo, lightgrey);
    }
    &.shareholder {
      @include button-color($shareholder, lightgrey);
    }
  }
}
