@import '../../../assets/css/constants.scss';

.employee-card {
  height: 130px;
  @media(min-width:768px) {
    margin: 10px 0px;
  }

  .avatar {
    float: left;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    &.developer {
      border-color: $developer;
    }
    &.designer {
      border-color: $designer;
    }
    &.ceo {
      border-color: $ceo;
    }
    &.shareholder {
      border-color: $shareholder;
    }
    &.add {
      border-color: grey;
      cursor: pointer;
    }
  }

  .content {
    line-height: 18px;
    padding: 10px 15px;
  }
}
